@Heute {
Auto Scaling Group+Abends free
17.11: 
16.11: Alle Kapitel wurden anfangen
Weiter mit EC2 Optimierung
15.11: T.Advisor+Auto-Tiering 1/2

}

@Done {
14.11: solo PP
13.11: Kap. Tools komplett!!! So so + Fazit
12.11: Fast nichts+QS(PP)
11.11: Feedback Berg/Caro + wie mache ich weiter?
10.11: Feedback Frau Berg + direkt anpassen1/2
9.11: Book practical ML 29-44 [C. Explorer]
8.11: C-Explorer anfangen
7.11: C. watch
6.11: Sarahs Korrektur
5.11: Mehr über CloudWatch
4.11: Schreib 1 Seite über CloudWatch

03:11: Seite 49  AWS Certified Solutions Architect - Professional Complete Study Guide
02:11: Mehr on demand+2 Begriffe

28:10: Allgemeine Überprüfung 

25-27 Okt: Einige Einträge wurden nicht gespeichert.
    Deswegen immer auf GitHub überprüfen.

21.10: Grundlagen: Skalierbarkeit, Agilität, Flex.
19.10: Einleitung
14.10: Info für Prof vorbereiten: Beschreibung pro Kap.
      Fragen für das Meeting schreiben
23.9: Anpassungen nach Frau Berg
      Update Zeitplan
      Intro Autoscaling
DAVOR:
    -Video über Optimierung 2016
    -LESEN: Buch Gestaltung: Schluss
    -Youtube: Zitat und Zusammenfassung
    -1. Entwurf des Abstracts
}

@Buchmarken{
    -Gestaltung, Seite: 39
    -https://www.aws.training/
}

@To-Do {

    -mehr über Optimierung und Überwachungstools
    https://aws.amazon.com/de/economics/resources/
    
    -https://get.plusserver.com/hubfs/Assets/Webinar/Webinar_Kostenoptimierung_in_AWS.mp4

    -Dieses E-Book lesen
    https://pages.awscloud.com/rs/112-TZM-766/images/Cloud%20Economics%20Ebook_October%202018.pdf

    -SCHREIBEN: "Zahlungsmodelle"

#Nimm was Nützliches von #Video_PlusServer 22:9  
32:52 Lambda Functions? um Ressources runterzufahren
38:34 Die Infrastruktur sollte getrennt von der Anwendung sein

#Siehe awsReInvent 2018: https://www.youtube.com/watch?v=0XA08hhRVFQ
#Siehe awsReInvent 2019: Was hat da Lyft gemacht?
#Best_Practices_Tagging
#Wo_Pass_Cost_Explorar or cost/ usage reports?
#Define KPIS? EC2 hourly spending, cost per transaction. Set KPI goals and alarm anomalies
#Sollte ich die Levels für Cloud-Nutzer präsentieren?(1-5)
https://www.aws.training/Details/Video?id=74016 (21:23)

#Ist_der_Begriff_Mandant_definiert ?
# How to Monitor and Manage Your AWS Costs https://www.youtube.com/watch?v=pjrKDkzbas8

# Add AWS Organizations
# Explain Tagging(Cost allocation Tags) Best Practices https://youtu.be/pjrKDkzbas8?t=1335
}


